PermitRootLogin {% if security_disable_root_ssh %}no{% else %}yes{% endif %}

PasswordAuthentication {% if security_disable_password_auth %}no{% else %}yes{% endif %}

UsePAM yes
Protocol 2
X11Forwarding no
AllowTcpForwarding no
Compression yes
MaxAuthTries 3
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
LoginGraceTime 30
Port {{ security_ssh_port }}
StrictModes yes
AllowAgentForwarding no
